name: build

on:
  push:
    branches: [develop, main]
    tags:
      - 'v*'

jobs:
  release:
    uses: eoap/eoap-cwl-release-workflow/.github/workflows/release-cwl.yml@main
    with:
      tools: '["crop","norm_diff","otsu","stac","stage","stac-geoparquet"]'
      image-prefix: ghcr.io/eoap/advanced-tooling
      cwl-dir: cwl-workflow
    secrets:
      registry-user: ${{ github.actor }}
      registry-password: ${{ secrets.GITHUB_TOKEN }}